.button-secondary {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.22;
  color: $brand-01;
  padding: 4px 70px;
  background: $brand-02;
  border: 1px solid $brand-01;
  box-sizing: border-box;
  border-radius: 8px;
}
